
<div class="prices">
  <a [routerLink]="['20']" routerLinkActive="active">20</a>
  <a [routerLink]="['50']" routerLinkActive="active">50</a>
  <a [routerLink]="['80']" routerLinkActive="active">80</a>
</div>
<div class="contenido">
  <h1>Componente Prices</h1>
<hr>

  

</div>

<router-outlet></router-outlet>