*{
  box-sizing: border-box;
}

body {
 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.prices {
  border-radius: 10px;
  width: 15%;
  float: right;
  
  background-color: rgb(0, 0, 0);
}

.prices a {
   border-radius: 10px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.prices a:hover {
  
  background-color: rgb(53, 53, 53);
}

.active {
  background-color: #ff189f;
  color: white;
}