/* You can add global styles to this file, and also import other style files */
.contenido{
  width: 65%;
  margin: 2% 16%;
  padding: 1% 2%;
  background-color: rgb(255, 255, 255,0.4);
  border-radius: 10px;
}
body{
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

hr{
 background-color: white;
 border: none;
  height: 1vh;
}
img{
  width: 50%;
border-radius: 10px;
border: 4px black double;
}

.hija{
  width: 61%;
  text-align: center;
}