*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  float: left;
  position: absolute;
  width: 15%;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.sidebar a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.sidebar a:hover {
  background-color: rgb(53, 53, 53);
}

.active {
  background-color: #ff189f;
  color: white;
}
